.main{
    border: none;
    height: 300px;
    width: 100%;
    text-align: center;
    font-size: large;
    background-image: url(./img/offer_deals_banner.777f20e1.svg);
    margin-top: -30px;
    color: white;

}
.main h1{
    padding-top: 150px;
    font-size: 50px;
 }
.header-part2 img{
    height: 80px;
    width: 80px;
}
.header-part2{
    display: flex;
    justify-content: space-evenly;
    height: 80px;
}
.header-part2-left{
    display: flex;
    justify-content: space-between;
}
.header-part2-right  {
    justify-content: space-evenly;
    display: flex;
        
}
.header-part2-right ul{
    display: flex;
    margin-top:30px;
    list-style-type: none;
    justify-content: space-evenly;
    width: 200px;
}
.header-part2-right ul li{
    justify-content: space-evenly;
}

.header-part2-left-text{
    margin-top:30px;
    width: 50px;
}
.header-part2-left .img1 img{
    height: 20px;
    /* width: 10px; */
    margin-top:30px;
   
}
.header-part2-left .img2 img{
    height: 35px;
    width: 35px;
    margin-top:25px;
}
.header-part3{
    
    height: 60px;
    color: aliceblue;
    background-color:#211f1f;
   
    
    
}
.inside-box{
    
    text-align: center;
    font-size: large;
    font-weight: bold;
    
    
}
.inside-box button{
    text-align: center;
    background-color:crimson;
    color: aliceblue;
    
    border-radius: 20px;
    border: crimson;
    margin: 30px;
   
}
.githalu{
    margin-left: 250px;
}
.pina-header{
    display: flex;
    justify-content: space-around;
}
.img-box1{
    display: flex;
    justify-content: space-evenly;
    margin-left: 160px;
    
    
}
.img-box1 img{
    border-radius: 20px;

     
}
.img-box1 button{
    border-radius: 10px;
    color: aliceblue;
    background-color: black;
}

.img-box2{
    display: flex;
    justify-content: space-evenly;
    margin-left: 160px;
    
    
}
.img-box2 img{
    border-radius: 20px;

     
}
.img-box2 button{
    border-radius: 10px;
    color: aliceblue;
    background-color: black;
}
.footer-list{
    display: flex;
    padding: 50px;

}
.footer-button{
    color: white;
}
.list-left{
    margin-top: 30px;
    justify-content: space-evenly;
    display: flex;
    width: 500px;
}
.footer-button button{
    height: 40px;
    width: 150px;
    color: white;
    background-color: black;
    border: none;
}
.madhufooter{
    border: none;
    height: 300px;
    width: 1300px;
    background-color: black;
    margin-left: 200px;
    color: white;
    text-decoration: none;

}






