#bg-container{
    background-color: rgba(0, 0, 0, 0.877);
    display: flex;
    justify-content: space-between;
    height: 900px;
    width: 1350px;
    margin: -10px -10px 0 -10px;
    position: relative;

}
#bg-container div img{
    height: 100px;
    width: 100px;
}

#bg-container div select{
    color: white;
    background-color: transparent;
    font-size: 15px;
    padding: 5px;
   
    border-radius: 7px;
    border-width: 2px;
    border-color: white;

}

#bg-container div.right-side{
    display: flex;
    
    align-items: flex-start;
    margin-top: 20px;
    
}
#bg-container div a div{
    border: solid 2px black;
    height: 20px;
    width: 90px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.918);
    color: white;
    padding: 7px;
    text-align: center;
    margin: 0 100px 0 30px;
    font-size: 20px;
  
}
#bg-container div a{
    text-decoration: none;
}

.image-container{
    position: absolute;
    height: 800px;
    width: 1350px;
    margin: -830px -10px 0 -10px ;
    opacity: 0.5;
    
}